# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true
command_timeout = 750

[git_status]
stashed = ""

# Disable certain features
[username]
disabled = true

[hostname]
disabled = true

[package]
disabled = true

[docker_context]
disabled = true

[nodejs]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[lua]
disabled = true
